<!DOCTYPE html>
<html>

<head>
  <title>Adventure</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Estilo.css">
  
</head>

<body background="blue">
<!--Particulas de fondo-->
<div id="particles-js"></div>
<br><br><br><br>
  <div class="">
    <h1 style="font-family:Comic Sans; color:#3b5998; text-align: center; font-size: 1000%;">Adventure</h1>
    <h5 style="font-family:Comic Sans; color:#c13584; text-align: center;font-size: 150%;" >Las historias van como tu quieras que vayan</h5> 
  </div>
  <br><br><br><br><br> <br> <br> <br><br> 
  <br> <br>  <br>

  <div class="container">
    <a href="Lobby.html"><button  type="button" class="btn btn-primary btn-lg btn-block" >Empezar tu aventura</button></a>
</div>

<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>